repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: ruff
        name: ruff (lint + fix)
        entry: bash -c 'cd backend && poetry run ruff check --fix'
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-format
        name: ruff (format)
        entry: bash -c 'cd backend && poetry run ruff format'
        language: system
        types: [python]
        files: ^backend/

      - id: mypy
        name: mypy (poetry)
        entry: bash -c 'cd backend && poetry run mypy app'
        language: system
        types: [python]
        files: ^backend/
        # args: [backend/app, --config-file, backend/pyproject.toml]
